<!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: #e4e4e4;
      background: linear-gradient(90deg, #e4e4e4 0%, rgba(58, 136, 172, 0.73) 100%);
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .btn-action { width: 100%; margin-bottom: 5px; }
    .text-right { text-align: right; }
  </style>
</head>
<body>

{#include fragments/header /}

<div class="container mt-5">
  <h1 class="mb-4">Orders</h1>

  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th>OrderID</th>
      <th class="text-right">Username</th>
      <th class="text-right">Status</th>
      <th class="text-right">Date</th>
      <th class="text-right">Total Price</th>
      <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    {#for order in orders}
    <tr>
      <td>{order.id}</td>
      <td class="text-right">{order.username}</td>
      <td class="text-right">{order.status}</td>
      <td class="text-right">{order.orderDatePretty}</td>
      <td class="text-right">{order.totalPrice} &#8364;</td>
      <td class="text-nowrap">

        <button class="btn btn-outline-secondary btn-sm btn-action"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#items-{order.id}">
          Items Preview ({order.items.size})
        </button>

        {#if order.status != "CONFIRMED"}
        <form method="post" action="/orders/{order.id}/status" class="m-0">
          <input type="hidden" name="status" value="CONFIRMED">
          <button class="btn btn-primary btn-action" type="submit">Confirm</button>
        </form>
        {/if}

        <form method="post" action="/orders/{order.id}" class="m-0">
          <button class="btn btn-danger btn-action" type="submit">Decline</button>
        </form>
      </td>
    </tr>

    <tr class="collapse" id="items-{order.id}">
      <td colspan="6">
        <ul class="list-group">
          {#for it in order.items}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/products/overview/{it.productId}" class="text-decoration-none">{it.productName}</a>
           <p>
             <span>{it.price} &#8364;</span>
            <span class="badge bg-secondary rounded-pill">x{it.quantity}</span>
           </p>
          </li>
          {/for}
        </ul>
      </td>
    </tr>
    {/for}
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
